test/output/Pymoca.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.pymoca.com/Pymoca" xmlns="http://www.pymoca.com/Pymoca">
  <xs:element name="modelica" type="stored_definition"/>
  <xs:complexType name="stored_definition">
    <xs:sequence>
      <xs:element name="component_reference" type="component_reference" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="stored_definition_class" type="stored_definition_class" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stored_definition_class">
    <xs:sequence>
      <xs:element name="class_definition" type="class_definition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="class_definition">
    <xs:sequence>
      <xs:element name="class_prefixes" type="class_prefixes"/>
      <xs:element name="class_specifier" type="class_specifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="class_prefixes">
    <xs:sequence>
      <xs:element name="class_type" type="class_type"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="class_type">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="class_spec_comp">
    <xs:sequence>
      <xs:element name="string_comment" type="string_comment"/>
      <xs:element name="composition" type="composition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="class_spec_base">
    <xs:sequence>
      <xs:element name="base_prefix" type="base_prefix" minOccurs="0"/>
      <xs:element name="component_reference" type="component_reference" minOccurs="0"/>
      <xs:element name="class_modification" type="class_modification" minOccurs="0"/>
      <xs:element name="comment" type="comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="class_spec_enum">
    <xs:sequence>
      <xs:element name="enum_list" type="enum_list" minOccurs="0"/>
      <xs:element name="comment" type="comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="class_spec_der">
    <xs:sequence>
      <xs:element name="name" type="name" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="comment" type="comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="class_spec_extends">
    <xs:sequence>
      <xs:element name="class_modification" type="class_modification" minOccurs="0"/>
      <xs:element name="string_comment" type="string_comment"/>
      <xs:element name="composition" type="composition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="class_specifier">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="base_prefix">
    <xs:sequence>
      <xs:element name="type_prefix" type="type_prefix"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enum_list">
    <xs:sequence>
      <xs:element name="enumeration_literal" type="enumeration_literal" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enumeration_literal">
    <xs:sequence>
      <xs:element name="comment" type="comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="composition">
    <xs:sequence>
      <xs:element name="element_list" type="element_list" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="equation_section" type="equation_section" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="algorithm_section" type="algorithm_section" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="language_specification" type="language_specification" minOccurs="0"/>
      <xs:element name="external_function_call" type="external_function_call" minOccurs="0"/>
      <xs:element name="annotation" type="annotation" minOccurs="0" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="language_specification">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="external_function_call">
    <xs:sequence>
      <xs:element name="component_reference" type="component_reference" minOccurs="0"/>
      <xs:element name="expression_list" type="expression_list" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="element_list">
    <xs:sequence>
      <xs:element name="element" type="element" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="element">
    <xs:sequence>
      <xs:element name="import_clause" type="import_clause"/>
      <xs:element name="extends_clause" type="extends_clause"/>
      <xs:element name="regular_element" type="regular_element"/>
      <xs:element name="replaceable_element" type="replaceable_element"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="regular_element">
    <xs:sequence>
      <xs:element name="class_definition" type="class_definition"/>
      <xs:element name="component_clause" type="component_clause"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="replaceable_element">
    <xs:sequence>
      <xs:element name="class_definition" type="class_definition" minOccurs="0"/>
      <xs:element name="component_clause" type="component_clause" minOccurs="0"/>
      <xs:element name="constraining_clause" type="constraining_clause" minOccurs="0"/>
      <xs:element name="comment" type="comment" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="import_clause">
    <xs:sequence>
      <xs:element name="component_reference" type="component_reference" minOccurs="0" maxOccurs="2"/>
      <xs:element name="import_list" type="import_list" minOccurs="0"/>
      <xs:element name="comment" type="comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="import_list">
    <xs:sequence>
      <xs:element name="import_list" type="import_list" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extends_clause">
    <xs:sequence>
      <xs:element name="component_reference" type="component_reference" minOccurs="0"/>
      <xs:element name="class_modification" type="class_modification" minOccurs="0"/>
      <xs:element name="annotation" type="annotation" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="constraining_clause">
    <xs:sequence>
      <xs:element name="name" type="name" minOccurs="0"/>
      <xs:element name="class_modification" type="class_modification" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="component_clause">
    <xs:sequence>
      <xs:element name="type_prefix" type="type_prefix" minOccurs="0"/>
      <xs:element name="type_specifier" type="type_specifier" minOccurs="0"/>
      <xs:element name="array_subscripts" type="array_subscripts" minOccurs="0"/>
      <xs:element name="component_list" type="component_list"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_prefix">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="type_specifier_element">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="type_specifier">
    <xs:sequence>
      <xs:element name="type_specifier_element" type="type_specifier_element" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="component_list">
    <xs:sequence>
      <xs:element name="component_declaration" type="component_declaration" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="component_declaration">
    <xs:sequence>
      <xs:element name="declaration" type="declaration" minOccurs="0"/>
      <xs:element name="condition_attribute" type="condition_attribute" minOccurs="0"/>
      <xs:element name="comment" type="comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="condition_attribute">
    <xs:sequence>
      <xs:element name="expression" type="expression"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="declaration">
    <xs:sequence>
      <xs:element name="array_subscripts" type="array_subscripts" minOccurs="0"/>
      <xs:element name="modification" type="modification" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modification_class">
    <xs:sequence>
      <xs:element name="class_modification" type="class_modification" minOccurs="0"/>
      <xs:element name="expression" type="expression" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modification_assignment">
    <xs:sequence>
      <xs:element name="expression" type="expression"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modification_assignment2">
    <xs:sequence>
      <xs:element name="expression" type="expression"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modification">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="class_modification">
    <xs:sequence>
      <xs:element name="argument_list" type="argument_list" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="argument_list">
    <xs:sequence>
      <xs:element name="argument" type="argument" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="argument">
    <xs:sequence>
      <xs:element name="element_modification_or_replaceable" type="element_modification_or_replaceable"/>
      <xs:element name="element_redeclaration" type="element_redeclaration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="element_modification_or_replaceable">
    <xs:sequence>
      <xs:element name="element_modification" type="element_modification"/>
      <xs:element name="element_replaceable" type="element_replaceable"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="element_modification">
    <xs:sequence>
      <xs:element name="component_reference" type="component_reference" minOccurs="0"/>
      <xs:element name="modification" type="modification" minOccurs="0"/>
      <xs:element name="string_comment" type="string_comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="element_redeclaration">
    <xs:sequence>
      <xs:element name="short_class_definition" type="short_class_definition"/>
      <xs:element name="component_clause1" type="component_clause1"/>
      <xs:element name="element_replaceable" type="element_replaceable"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="element_replaceable">
    <xs:sequence>
      <xs:element name="short_class_definition" type="short_class_definition" minOccurs="0"/>
      <xs:element name="component_clause1" type="component_clause1" minOccurs="0"/>
      <xs:element name="constraining_clause" type="constraining_clause" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="component_clause1">
    <xs:sequence>
      <xs:element name="type_prefix" type="type_prefix"/>
      <xs:element name="type_specifier" type="type_specifier"/>
      <xs:element name="component_declaration1" type="component_declaration1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="component_declaration1">
    <xs:sequence>
      <xs:element name="declaration" type="declaration"/>
      <xs:element name="comment" type="comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="short_class_definition">
    <xs:sequence>
      <xs:element name="class_prefixes" type="class_prefixes" minOccurs="0"/>
      <xs:element name="base_prefix" type="base_prefix" minOccurs="0"/>
      <xs:element name="component_reference" type="component_reference" minOccurs="0"/>
      <xs:element name="array_subscripts" type="array_subscripts" minOccurs="0"/>
      <xs:element name="class_modification" type="class_modification" minOccurs="0"/>
      <xs:element name="comment" type="comment" maxOccurs="2"/>
      <xs:element name="enum_list" type="enum_list" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equation_block">
    <xs:sequence>
      <xs:element name="equation" type="equation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equation_section">
    <xs:sequence>
      <xs:element name="equation_block" type="equation_block"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statement_block">
    <xs:sequence>
      <xs:element name="statement" type="statement" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="algorithm_section">
    <xs:sequence>
      <xs:element name="statement_block" type="statement_block"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equation_simple">
    <xs:sequence>
      <xs:element name="simple_expression" type="simple_expression"/>
      <xs:element name="expression" type="expression"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equation_if">
    <xs:sequence>
      <xs:element name="if_equation" type="if_equation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equation_for">
    <xs:sequence>
      <xs:element name="for_equation" type="for_equation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equation_connect_clause">
    <xs:sequence>
      <xs:element name="connect_clause" type="connect_clause"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equation_when">
    <xs:sequence>
      <xs:element name="when_equation" type="when_equation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equation_function">
    <xs:sequence>
      <xs:element name="name" type="name"/>
      <xs:element name="function_call_args" type="function_call_args"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equation_options">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="equation">
    <xs:sequence>
      <xs:element name="equation_options" type="equation_options"/>
      <xs:element name="comment" type="comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statement_component_reference">
    <xs:sequence>
      <xs:element name="component_reference" type="component_reference"/>
      <xs:element name="expression" type="expression"/>
      <xs:element name="function_call_args" type="function_call_args"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statement_component_function">
    <xs:sequence>
      <xs:element name="component_reference" type="component_reference" maxOccurs="unbounded"/>
      <xs:element name="function_call_args" type="function_call_args"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statement_break">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="statement_return">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="statement_if">
    <xs:sequence>
      <xs:element name="if_statement" type="if_statement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statement_for">
    <xs:sequence>
      <xs:element name="for_statement" type="for_statement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statement_while">
    <xs:sequence>
      <xs:element name="while_statement" type="while_statement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statement_when">
    <xs:sequence>
      <xs:element name="when_statement" type="when_statement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statement_options">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="statement">
    <xs:sequence>
      <xs:element name="statement_options" type="statement_options"/>
      <xs:element name="comment" type="comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="if_equation">
    <xs:sequence>
      <xs:element name="expression" type="expression" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="equation_block" type="equation_block" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="if_statement">
    <xs:sequence>
      <xs:element name="expression" type="expression" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="statement_block" type="statement_block" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="for_equation">
    <xs:sequence>
      <xs:element name="for_indices" type="for_indices"/>
      <xs:element name="equation_block" type="equation_block"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="for_statement">
    <xs:sequence>
      <xs:element name="for_indices" type="for_indices"/>
      <xs:element name="statement_block" type="statement_block"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="for_indices">
    <xs:sequence>
      <xs:element name="for_index" type="for_index" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="for_index">
    <xs:sequence>
      <xs:element name="expression" type="expression" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="while_statement">
    <xs:sequence>
      <xs:element name="expression" type="expression"/>
      <xs:element name="statement_block" type="statement_block"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="when_equation">
    <xs:sequence>
      <xs:element name="expression" type="expression" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="equation_block" type="equation_block" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="when_statement">
    <xs:sequence>
      <xs:element name="expression" type="expression" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="statement_block" type="statement_block" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="connect_clause">
    <xs:sequence>
      <xs:element name="component_reference" type="component_reference" minOccurs="2" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expression_simple">
    <xs:sequence>
      <xs:element name="simple_expression" type="simple_expression"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expression_if">
    <xs:sequence>
      <xs:element name="expression" type="expression" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expression">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="simple_expression">
    <xs:sequence>
      <xs:element name="expr" type="expr" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expr_neg">
    <xs:sequence>
      <xs:element name="expr" type="expr"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expr_exp">
    <xs:sequence>
      <xs:element name="primary" type="primary" minOccurs="2" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expr_mul">
    <xs:sequence>
      <xs:element name="expr" type="expr" minOccurs="2" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expr_add">
    <xs:sequence>
      <xs:element name="expr" type="expr" minOccurs="2" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expr_rel">
    <xs:sequence>
      <xs:element name="expr" type="expr" minOccurs="2" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expr_not">
    <xs:sequence>
      <xs:element name="expr" type="expr"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expr_and">
    <xs:sequence>
      <xs:element name="expr" type="expr" minOccurs="2" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expr_or">
    <xs:sequence>
      <xs:element name="expr" type="expr" minOccurs="2" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expr_primary">
    <xs:sequence>
      <xs:element name="primary" type="primary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expr">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="primary_unsigned_number">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="primary_string">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="primary_false">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="primary_true">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="primary_function">
    <xs:sequence>
      <xs:element name="component_reference" type="component_reference"/>
      <xs:element name="function_call_args" type="function_call_args"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="primary_derivative">
    <xs:sequence>
      <xs:element name="function_call_args" type="function_call_args"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="primary_initial">
    <xs:sequence>
      <xs:element name="function_call_args" type="function_call_args"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="primary_component_reference">
    <xs:sequence>
      <xs:element name="component_reference" type="component_reference"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="primary_output_expression_list">
    <xs:sequence>
      <xs:element name="output_expression_list" type="output_expression_list"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="primary_expression_list">
    <xs:sequence>
      <xs:element name="expression_list" type="expression_list" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="primary_function_arguments">
    <xs:sequence>
      <xs:element name="function_arguments" type="function_arguments"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="primary_end">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="primary">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="name">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="component_reference_element">
    <xs:sequence>
      <xs:element name="array_subscripts" type="array_subscripts" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="component_reference">
    <xs:sequence>
      <xs:element name="component_reference_element" type="component_reference_element" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="function_call_args">
    <xs:sequence>
      <xs:element name="function_arguments" type="function_arguments" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="function_arguments">
    <xs:sequence>
      <xs:element name="function_argument" type="function_argument" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="for_indices" type="for_indices" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="named_arguments" type="named_arguments"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="named_arguments">
    <xs:sequence>
      <xs:element name="named_argument" type="named_argument" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="named_argument">
    <xs:sequence>
      <xs:element name="function_argument" type="function_argument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="argument_function">
    <xs:sequence>
      <xs:element name="name" type="name" minOccurs="0"/>
      <xs:element name="named_arguments" type="named_arguments" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="argument_expression">
    <xs:sequence>
      <xs:element name="expression" type="expression"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="function_argument">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="output_expression_list">
    <xs:sequence>
      <xs:element name="expression" type="expression" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expression_list">
    <xs:sequence>
      <xs:element name="expression" type="expression" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="array_subscripts">
    <xs:sequence>
      <xs:element name="subscript" type="subscript" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subscript">
    <xs:sequence>
      <xs:element name="expression" type="expression"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comment">
    <xs:sequence>
      <xs:element name="string_comment" type="string_comment" minOccurs="0"/>
      <xs:element name="annotation" type="annotation" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="string_comment">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="annotation">
    <xs:sequence>
      <xs:element name="class_modification" type="class_modification"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
